__pycache__
.google
archived
.env
run.sh

setup/configure_gcp.sh
setup/cron_job.sh
setup/notes.md

**/data/
**/dataset/
**/logs/
**/*deployment.yaml
**/.json
**/.csv
**/.parquet

**/.terraform
**/*.tfstate
**/*.tfstate.*
**/**.terraform
**/**.terraform.lock.*